.DS_Store
.vscode/
.idea/
out/

### Java ###
pmd/
pmd-bin
Classes/
CSV2HTML_by_Java/junit/test-report/
CSV2HTML_by_Java/CSV2HTML.app/Contents/Resources/Java/

### Python ###
pylintresult.txt
CSV2HTML_by_Python/CSV2HTML.app/Contents/Resources/Python/
